<div class="login-form">
  <h3>Register</h3>

  <% if flash.now[:register_error] %>
    <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <%= flash.now[:register_error] %>
    </div>
    <br>
  <% end %>

  <%= form_for :user, url: users_path do |f| %>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :username %>
      <%= f.text_field :username, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password_conformation %>
      <%= f.password_field :password_conformation, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label "What city do you live in?" %>
      <%= f.text_field :city, class: "form-control" %>
    </div>

    <%= f.submit "Register", class: "btn btn-primary" %>
  <% end %>
    <p> or </p>
    <%= link_to "Login", login_path %>
</div>

<!-- figure out how to get a modal to render on the home page after a user logs in for the first time -->

