<!-- this view is for new user responses to places -->
<div class"col-lg-6 col-lg-offset-3">
  <h3 class="table-header">Rate places in or near your city
    <span class="small">Refresh for different places</span>
  </h3>
  <table class="table table-responsive">
    <tr>
      <th>Name</th>
      <th>Your Rating</th>
    </tr>
    <% @places.each do |place| %>
      <tr>
        <td><%= place.name %></td>
        <td>
        <%= link_to "Rate this Place", new_response_path, html_options = { class: "rate", data: {id: place.id, value: place.name } }%>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<script type="text/javascript">
  $('.rate').on('click', function(event) {
    event.preventDefault();

    var link = $(this);
    var sibs = link.siblings();
    var full_path = "/responses";
    var place = link.data("value");
    var place_id = link.data("id");
    var response_modal = $("#inner-response-modal");

    $('.modal-header').text(place);

    console.log(place);
    console.log(place_id);
    console.log(full_path);
    response_modal.modal();
    $('form').attr("action", full_path);
    $('#place_id').attr("value", place_id);
  });

</script>

<div id="inner-response-modal" class="modal fade">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
    </div>
      <div class="modal-body">
        <ul class="errors"></ul>
        <%= form_tag("/", method: :post) do %>
          <div class="form-group">
            <%= label_tag(:response, "1") %>
            <%= radio_button_tag(:response, "1") %>
            <%= label_tag(:response, "2") %>
            <%= radio_button_tag(:response, "2") %>
            <%= label_tag(:response, "3") %>
            <%= radio_button_tag(:response, "3") %>
            <%= label_tag(:response, "4") %>
            <%= radio_button_tag(:response, "4") %>
            <%= label_tag(:response, "5") %>
            <%= radio_button_tag(:response, "5") %>
            <%= hidden_field_tag(:question_id, 28) %>
            <%= hidden_field_tag(:place_id,) %>
          </div>
        </div>
        <div class="modal-footer">
          <%= submit_tag "Submit", class: "btn btn-primary" %>
          <%= link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %>
        </div>
      <% end %>
  </div>
</div>
</div>
