<h3>Recommendations for You</h3>
<div id="wrapper" class="col-lg-8 col-lg-offset-2">
  <div id="columns" class="row">
    <% @response.each do |place| %>
    <div class="tile">
          <%= image_tag(place[:image_url]) %>
        <p>
        <ul>
          <li>
            Rank: <%= place[:rank] %>
          </li>
          <li class="place-name">
            <%= place[:name] %>
          </li>
          <li>
            View on Yelp <%= link_to (place[:url]), popup: :true do %>
              <span class="glyphicon glyphicon-link"></span>
            <% end %>
          </li>
          <li>
            <%= place[:score] %>
          </li>
        <ul>
      </p>

    </div>
    <% end %>
</div>

<script type="text/javascript">
$('a[popup]').on('click', function(e) {
    e.preventDefault();
    window.open($(this).attr('href'),'onYelp', 'height=400,width=600');
});
</script>
