<h3>Recommendations for You</h3>
<div id="wrapper">
  <div id="columns">
    <% @response.each do |place| %>
    <div class="tile">
      <%= image_tag(place[:image_url]) %>
      <p>
        <%= place[:rank] %>
        <%= place[:name] %>
        <%= link_to (place[:url]), popup: :true do %>
          <span class="glyphicon glyphicon-link"></span>
        <% end %>
        <%= place[:score] %>
      </p>
    </div>
    <% end %>
</div>

<script type="text/javascript">
$('a[popup]').on('click', function(e) {
    e.preventDefault();
    window.open($(this).attr('href'),'onYelp', 'height=400,width=600');
});
</script>
