<!DOCTYPE html>
<html>
<head>
  <title>Niche</title>
  <%= stylesheet_link_tag 'application' %>
   <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lobster">
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="small-header">
      <a href="/" id="logo" class="pull-left"><h3>Niche</h3></a>
      <h5 class="greet pull-left"></h5>
      <% if session[:user_id] %>
        <h5 class="logout pull-right"><%= link_to "Logout", (logout_path) %></h5>
        <h5 class="places-link pull-right"><%= link_to "Rate Places", (new_response_path) %></h5>
        <h5 class="places-link pull-right"><%= link_to "Add Places", (new_place_path) %></h5>
      <% end %>
    </div>

  <%= yield %>


</body>
</html>
