<!DOCTYPE html>
<html>
<head>
  <title>Niche</title>
   <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lobster">
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="small-header">
    <a href="/" id="logo" class="pull-left">Niche</a>
    <h5 class="greet pull-left"></h5>
    <% if session[:user_id] %>
      <h5 class="logout pull-right"><%= link_to "Logout", (logout_path) %></h5>
      <h5 class="places-link pull-right"><%= link_to "Rate Places", (new_response_path) %></h5>
      <h5 class="places-link pull-right"><%= link_to "Add Places", (new_place_path) %></h5>
      <h5 class="places-link pull-right"><%= link_to "View your profile", (profile_path) %></h5>

      <h5 class="pull-left", id="welcome-title"><%= "Welcome, " + current_user.username %></h5>
    <% end %>
  </div>

  <%= yield %>


</body>
</html>
