<div id="inner-response-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      </div>
        <div class="modal-body">
          <ul class="errors"></ul>
        </div>
        <%= form_tag("/", method: :patch) do %>
          <div class="form-group">
            <%= label_tag(:response, "1") %>
            <%= radio_button_tag(:response, "1") %>
            <%= label_tag(:response, "2") %>
            <%= radio_button_tag(:response, "2") %>
            <%= label_tag(:response, "3") %>
            <%= radio_button_tag(:response, "3") %>
            <%= label_tag(:response, "4") %>
            <%= radio_button_tag(:response, "4") %>
            <%= label_tag(:response, "5") %>
            <%= radio_button_tag(:response, "5") %>
            <%= hidden_field_tag(:question_id, 28) %>
          </div>
          <div class="modal-footer">
            <%= submit_tag "Submit", class: "btn btn-primary" %>
            <%= link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %>
          </div>
        <% end %>
    </div>
  </div>
</div>
